.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

h1 {
  font-family: 'Arial';
  font-size: 40px;
  line-height: 150%;
}

h2 {
  font-family: 'Arial';
  font-size: 26px;
  line-height: 150%;
  opacity: 0.5
}